# **IRB Retail Mortgage**
## **Data Preparation**
At a high level, data preparation for a retail mortgage PD model typically includes:

- Data ingestion
- Initial filtering & portfolio definition
- Target (default flag) construction
- Missing value treatment
- Outlier treatment
- Feature transformations
- Train / validation split (time-based)

## **Step 1 - Data Ingestion**

In [1]:
# importing the required modules
import sys
sys.path.append("..")
from src.config import *

### SAS
<code>
    %let main_dir = "/Users/sharmadipanshu/Developer/KPMG/irb_retail_pd_sas_vs_python/"; <br>
    libname inpdir "&main_dir./data/raw"; <br>
    libname outdir "&main_dir./data/processed"; <br>
    <br>
    proc import datafile = "&main_dir./data/raw/accepted_2007_to_2018Q4.csv" <br>
    out = outdir.mortgage_raw dbms = csv replace; <br>
    guessingrows=max; <br>
    run;
</code>

In [ ]:
# loading the raw mortgage dataset
mortgage_raw = pd.read_csv(f"{main_dir}/data/raw/accepted_2007_to_2018Q4.csv",low_memory=False)
mortgage_raw.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0000,3600.0000,3600.0000,36 months,13.9900,123.0300,C,C4,leadman,10+ years,MORTGAGE,55000.0000,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.9100,0.0000,Aug-2003,675.0000,679.0000,1.0000,30.0000,NaN,7.0000,0.0000,2765.0000,29.7000,13.0000,w,0.0000,0.0000,4421.7239,4421.7200,3600.0000,821.7200,0.0000,0.0000,0.0000,Jan-2019,122.6700,NaN,Mar-2019,564.0000,560.0000,0.0000,30.0000,1.0000,Individual,NaN,NaN,NaN,0.0000,722.0000,144904.0000,2.0000,2.0000,0.0000,1.0000,21.0000,4981.0000,36.0000,3.0000,3.0000,722.0000,34.0000,9300.0000,3.0000,1.0000,4.0000,4.0000,20701.0000,1506.0000,37.2000,0.0000,0.0000,148.0000,128.0000,3.0000,3.0000,1.0000,4.0000,69.0000,4.0000,69.0000,2.0000,2.0000,4.0000,2.0000,5.0000,3.0000,4.0000,9.0000,4.0000,7.0000,0.0000,0.0000,0.0000,3.0000,76.9000,0.0000,0.0000,0.0000,178050.0000,7746.0000,2400.0000,13734.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0000,24700.0000,24700.0000,36 months,11.9900,820.2800,C,C1,Engineer,10+ years,MORTGAGE,65000.0000,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.0600,1.0000,Dec-1999,715.0000,719.0000,4.0000,6.0000,NaN,22.0000,0.0000,21470.0000,19.2000,38.0000,w,0.0000,0.0000,25679.6600,25679.6600,24700.0000,979.6600,0.0000,0.0000,0.0000,Jun-2016,926.3500,NaN,Mar-2019,699.0000,695.0000,0.0000,NaN,1.0000,Individual,NaN,NaN,NaN,0.0000,0.0000,204396.0000,1.0000,1.0000,0.0000,1.0000,19.0000,18005.0000,73.0000,2.0000,3.0000,6472.0000,29.0000,111800.0000,0.0000,0.0000,6.0000,4.0000,9733.0000,57830.0000,27.1000,0.0000,0.0000,113.0000,192.0000,2.0000,2.0000,4.0000,2.0000,NaN,0.0000,6.0000,0.0000,5.0000,5.0000,13.0000,17.0000,6.0000,20.0000,27.0000,5.0000,22.0000,0.0000,0.0000,0.0000,2.0000,97.4000,7.7000,0.0000,0.0000,314017.0000,39475.0000,79300.0000,24667.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0000,20000.0000,20000.0000,60 months,10.7800,432.6600,B,B4,truck driver,10+ years,MORTGAGE,63000.0000,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.7800,0.0000,Aug-2000,695.0000,699.0000,0.0000,NaN,NaN,6.0000,0.0000,7869.0000,56.2000,18.0000,w,0.0000,0.0000,22705.9243,22705.9200,20000.0000,2705.9200,0.0000,0.0000,0.0000,Jun-2017,15813.3000,NaN,Mar-2019,704.0000,700.0000,0.0000,NaN,1.0000,Joint App,71000.0000,13.8500,Not Verified,0.0000,0.0000,189699.0000,0.0000,1.0000,0.0000,4.0000,19.0000,10827.0000,73.0000,0.0000,2.0000,2081.0000,65.0000,14000.0000,2.0000,5.0000,1.0000,6.0000,31617.0000,2737.0000,55.9000,0.0000,0.0000,125.0000,184.0000,14.0000,14.0000,5.0000,101.0000,NaN,10.0000,NaN,0.0000,2.0000,3.0000,2.0000,4.0000,6.0000,4.0000,7.0000,3.0000,6.0000,0.0000,0.0000,0.0000,0.0000,100.0000,50.0000,0.0000,0.0000,218418.0000,18696.0000,6200.0000,14877.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0000,35000.0000,35000.0000,60 months,14.8500,829.9000,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0000,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.0600,0.0000,Sep-2008,785.0000,789.0000,0.0000,NaN,NaN,13.0000,0.0000,7802.0000,11.6000,17.0000,w,15897.6500,15897.6500,31464.0100,31464.0100,19102.3500,12361.6600,0.0000,0.0000,0.0000,Feb-2019,829.9000,Apr-2019,Mar-2019,679.0000,675.0000,0.0000,NaN,1.0000,Individual,NaN,NaN,NaN,0.0000,0.0000,301500.0000,1.0000,1.0000,0.0000,1.0000,23.0000,12609.0000,70.0000,1.0000,1.0000,6987.0000,45.0000,67300.0000,0.0000,1.0000,0.0000,2.0000,23192.0000,54962.0000,12.1000,0.0000,0.0000,36.0000,87.0000,2.0000,2.0000,1.0000,2.0000,NaN,NaN,NaN,0.0000,4.0000,5.0000,8.0000,10.0000,2.0000,10.0000,13.0000,5.0000,13.0000,0.0000,0.0000,0.0000,1.0000,100.0000,0.0000,0.0000,0.0000,381215.0000,52226.0000,62500.0000,18000.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0000,10400.0000,10400.0000,60 months,22.4500,289.9100,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0000,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.3700,1.0000,Jun-1998,695.0000,699.0000,3.0000,12.0000,NaN,12.0000,0.0000,21929.0000,64.5000,35.0000,w,0.0000,0.0000,11740.5000,11740.5000,10400.0000,1340.5000,0.0000,0.0000,0.0000,Jul-2016,10128.9600,NaN,Mar-2018,704.0000,700.0000,0.0000,NaN,1.0000,Individual,NaN,NaN,NaN,0.0000,0.0000,331730.0000,1.0000,3.0000,0.0000,3.0000,14.0000,73839.0000,84.0000,4.0000,7.0000,9702.0000,78.0000,34000.0000,2.0000,1.0000,3.0000,10.0000,27644.0000,4567.0000,77.5000,0.0000,0.0000,128.0000,210.0000,4.0000,4.0000,6.0000,4.0000,12.0000,1.0000,12.0000,0.0000,4.0000,6.0000,5.0000,9.0000,10.0000,7.0000,19.0000,6.0000,12.0000,0.0000,0.0000,0.0000,4.0000,96.6000,60.0000,0.0000,0.0000,439570.0000,95768.0000,20300.0000,88097.0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN